# You can also use custom RPC endpoints , such as helius platform
VITE_CUSTOM_RPC_URL=SOLANA_RPC_ENDPOINT
# app name and domain are used in signing message
VITE_APP_NAME=APP_NAME
VITE_APP_DOMAIN=APP_DOMAIN 