# You can also use custom RPC endpoints , such as helius platform
NEXT_PUBLIC_CUSTOM_RPC_URL=SOLANA_RPC_ENDPOINT
# app name and domain are used in signing message
NEXT_PUBLIC_APP_NAME=APP_NAME
NEXT_PUBLIC_APP_DOMAIN=APP_DOMAIN 