DATABASE_URL=file:./prisma/dev.db
EVM_RPC_URL=https://ethereum-sepolia-rpc.publicnode.com
CHAIN_ID=11155111
POOL_CONFIGS=[{"chainId":11155111,"stakingAddress":"0x67bebacfb97f13e1b33510309b74a0503695d0f3","rewardTokenAddress":"0xb31198aabbdb66365c211a26d7da1aeea8099fca","startBlock":0,"name":"sepolia-staking"}]
INDEXING_CRON=*/15 * * * * *
INDEXING_RETRY_DELAY_MS=1000
INDEXING_MAX_RETRIES=3
BLOCK_CHUNK_SIZE=2000
CONFIRMATION_BLOCKS=5
POOL_BALANCE_MONITOR_CRON=0 */5 * * * *
BALANCE_THRESHOLD=1000000000000000000000
RESET_DB=false
